.wrapper{
	color: #f9c2d5
	background-color: #FF000DFF;
	color: rgb(112,54,78)
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}

.test_wrapper{
	font-size: 15px;
	color: #2D2;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}

.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
