.wrapper{
	color: #f9c2d5
	background-color: #FF000DFF;
	color: rgb(112,54,78)
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.test_wrapper{
	font-size: 15px;
	color: #2D2;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}
/*m10-20*/
/*brs5*/
/*lg(left, #ddd, #ccc)*/
table, th, td
	{
	border: 1px, solid black;
	border-collapse: collapse;
 	}